body {
  background: #121212;
  color: white;
}

.card {
  background: #1e1e1e;
  color: white;
  border: 1px solid #333;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.hero {
  background: #1e1e1e;
  border-radius: 20px;
}

.navbar {
  border-bottom: 1px solid #333;
}