body {
  background-color: #121212;
  color: #ffffff;
}

.card {
  background-color: #1e1e1e;
  color: white;
  border: 1px solid #333;
}

.hero {
  background-color: #1e1e1e;
  color: white;
  border-radius: 20px;
}

.navbar {
  background-color: #0d1117 !important;
}

.btn-primary {
  background-color: #2563eb;
  border: none;
}

.btn-primary:hover {
  background-color: #1d4ed8;
}